In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# import and concat game data for different seasons

In [2]:
games_new_games = pd.read_csv('./Data/CSV_files/Final_data_newgames')

if 'Unnamed: 0' in games_new_games.columns :
    del games_new_games['Unnamed: 0']

games_new_games.insert(0,'Season',2017)
games_new_games.GameDate =  pd.to_datetime(games_new_games.GameDate)

print games_new_games.shape
games_new_games.head(1)

(57, 92)

,Season,GameDate,GameTime,HostName,HostScore,GuestName,GuestScore,host_shortname,GameId,gq1,...,hPTS,hTS%,h3PAR,hFTr,hDRB%,hTRB%,hAST%,hSTL%,hBLK%,hDRtg
0,2017,2017-01-24,9:00 pm,Denver Nuggets,103,Utah Jazz,93,DEN,201701240DEN,22,...,103.0,0.575,0.342,0.408,81.8,51.8,80.0,7.4,9.5,98.3

In [3]:
games_2017 = pd.read_csv('./Data/CSV_files/Final_data_2017')

if 'Unnamed: 0' in games_2017.columns :
    del games_2017['Unnamed: 0']

games_2017.insert(0,'Season',2017)
games_2017.GameDate =  pd.to_datetime(games_2017.GameDate)

print games_2017.shape
games_2017.head(1)

(672, 92)

,Season,GameDate,GameTime,HostName,HostScore,GuestName,GuestScore,host_shortname,GameId,gq1,...,hPTS,hTS%,h3PAR,hFTr,hDRB%,hTRB%,hAST%,hSTL%,hBLK%,hDRtg
0,2017,2016-10-25,7:30 pm,Cleveland Cavaliers,117,New York Knicks,88,CLE,201610250CLE,18,...,117.0,0.572,0.372,0.202,75.5,54.8,68.9,12.0,8.3,88.1

In [4]:
games_2016 = pd.read_csv('./Data/CSV_files/Final_data_2016')

if 'Unnamed: 0' in games_2016.columns :
    del games_2016['Unnamed: 0']

games_2016.insert(0,'Season',2016)
games_2016.GameDate =  pd.to_datetime(games_2016.GameDate)

print games_2016.shape
games_2016.head(1)

(1316, 92)

,Season,GameDate,GameTime,HostName,HostScore,GuestName,GuestScore,host_shortname,GameId,gq1,...,hPTS,hTS%,h3PAR,hFTr,hDRB%,hTRB%,hAST%,hSTL%,hBLK%,hDRtg
0,2016,2015-10-27,8:00 pm,Atlanta Hawks,94,Detroit Pistons,106,ATL,201510270ATL,25,...,94.0,0.53,0.329,0.183,58.9,40.4,59.5,9.4,6.0,111.2

In [5]:
games_2015 = pd.read_csv('./Data/CSV_files/Final_data_2015') 

if 'Unnamed: 0' in games_2015.columns :
    del games_2015['Unnamed: 0']
    
games_2015.insert(0,'Season',2015)
games_2015.GameDate =  pd.to_datetime(games_2015.GameDate)

print games_2015.shape
games_2015.head(1)

(1311, 92)

,Season,GameDate,GameTime,HostName,HostScore,GuestName,GuestScore,host_shortname,GameId,gq1,...,hPTS,hTS%,h3PAR,hFTr,hDRB%,hTRB%,hAST%,hSTL%,hBLK%,hDRtg
0,2015,2014-10-28,10:30 pm,Los Angeles Lakers,90,Houston Rockets,108,LAL,201410280LAL,31,...,90.0,0.468,0.127,0.494,64.1,43.4,57.1,7.7,6.8,118.8

In [6]:
games_2014 = pd.read_csv('./Data/CSV_files/Final_Data_2014') 

if 'Unnamed: 0' in games_2014.columns :
    del games_2014['Unnamed: 0']
    
games_2014.insert(0,'Season',2014)
games_2014.GameDate =  pd.to_datetime(games_2014.GameDate)


print games_2014.shape
games_2014.head(1)

(1319, 92)

,Season,GameDate,GameTime,HostName,HostScore,GuestName,GuestScore,host_shortname,GameId,gq1,...,hPTS,hTS%,h3PAR,hFTr,hDRB%,hTRB%,hAST%,hSTL%,hBLK%,hDRtg
0,2014,2013-10-29,7:00 pm,Indiana Pacers,97,Orlando Magic,87,IND,201310290IND,18,...,97.0,0.57,0.239,0.451,72.3,53.0,50.0,4.2,24.3,91.6

In [7]:
games_2013 = pd.read_csv('./Data/CSV_files/Final_data_2013') 

if 'Unnamed: 0' in games_2013.columns :
    del games_2013['Unnamed: 0']
    
games_2013.insert(0,'Season',2013)
games_2013.GameDate =  pd.to_datetime(games_2013.GameDate)

print games_2013.shape
games_2013.head(1)

(1314, 92)

,Season,GameDate,GameTime,HostName,HostScore,GuestName,GuestScore,host_shortname,GameId,gq1,...,hPTS,hTS%,h3PAR,hFTr,hDRB%,hTRB%,hAST%,hSTL%,hBLK%,hDRtg
0,2013,2012-10-30,7:00 pm,Cleveland Cavaliers,94,Washington Wizards,84,CLE,201210300CLE,24,...,94.0,0.53,0.253,0.278,66.7,58.1,61.1,8.0,8.6,95.5

In [9]:
games = pd.concat([games_2013,games_2014,games_2015,games_2016,games_2017,games_new_games])
games = games.sort_values('GameDate').reset_index()
if 'index' in games.columns :
    del games['index']
print games.shape
games.head(2)

(5989, 92)

,Season,GameDate,GameTime,HostName,HostScore,GuestName,GuestScore,host_shortname,GameId,gq1,...,hPTS,hTS%,h3PAR,hFTr,hDRB%,hTRB%,hAST%,hSTL%,hBLK%,hDRtg
0,2013,2012-10-30,7:00 pm,Cleveland Cavaliers,94,Washington Wizards,84,CLE,201210300CLE,24,...,94.0,0.530,0.253,0.278,66.7,58.1,61.1,8.0,8.6,95.5
1,2013,2012-10-30,7:30 pm,Los Angeles Lakers,91,Dallas Mavericks,99,LAL,201210300LAL,25,...,91.0,0.502,0.169,0.403,77.5,53.5,63.2,6.6,7.1,108.7

In [10]:
def team_name_corrector(teamname) :
    if teamname == 'Charlotte Bobcats' :
        return 'Charlotte Hornets'
    elif teamname == 'New Orleans Hornets' :
        return 'New Orleans Pelicans'
    else :
        return teamname
games.HostName = games.HostName.apply(team_name_corrector)
games.GuestName = games.GuestName.apply(team_name_corrector)


games['host_shortname'][games.host_shortname == 'CHA'] = 'CHO'
games['host_shortname'][games.host_shortname == 'NOH'] = 'NOP'

/Users/behdad/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/behdad/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
#[x for x in games.columns]

# import and concat bet data for different seasons

In [12]:
bets_new_games = pd.read_csv('./Data/CSV_files/bet_data_newgame')

if 'Unnamed: 0' in bets_new_games.columns :
    del bets_new_games['Unnamed: 0']

bets_new_games.game_date =  pd.to_datetime(bets_new_games.game_date)

print bets_new_games.shape
bets_new_games.head(1)

(114, 7)

,first_team_score,game_date,game_line,second_team_name,second_team_score,total_line,second_team_full_name
0,114,2017-01-25,-1.5,New Orleans,105,217.5,New Orleans Pelicans

In [13]:
bets_2017 = pd.read_csv('./Data/CSV_files/bet_data_2017')

if 'Unnamed: 0' in bets_2017.columns :
    del bets_2017['Unnamed: 0']

bets_2017.game_date =  pd.to_datetime(bets_2017.game_date)

print bets_2017.shape
bets_2017.head(1)

(1356, 7)

,first_team_score,game_date,game_line,second_team_name,second_team_score,total_line,second_team_full_name
0,120,2016-10-26,6.0,Houston,114,223.5,Houston Rockets

In [14]:
bets_2016 = pd.read_csv('./Data/CSV_files/bet_data_2016')

if 'Unnamed: 0' in bets_2016.columns :
    del bets_2016['Unnamed: 0']

bets_2016.game_date =  pd.to_datetime(bets_2016.game_date)

print bets_2016.shape
bets_2016.head(1)

(2632, 7)

,first_team_score,game_date,game_line,second_team_name,second_team_score,total_line,second_team_full_name
0,112,2015-10-28,-2.5,Minnesota,111,203.0,Minnesota Timberwolves

In [15]:
bets_2015 = pd.read_csv('./Data/CSV_files/bet_data_2015')

if 'Unnamed: 0' in bets_2015.columns :
    del bets_2015['Unnamed: 0']

bets_2015.game_date =  pd.to_datetime(bets_2015.game_date)

print bets_2015.shape
bets_2015.head(1)

(2622, 7)

,first_team_score,game_date,game_line,second_team_name,second_team_score,total_line,second_team_full_name
0,108,2014-10-28,7.0,Houston,90,207.0,Houston Rockets

In [16]:
bets_2014 = pd.read_csv('./Data/CSV_files/bet_data_2014')

if 'Unnamed: 0' in bets_2014.columns :
    del bets_2014['Unnamed: 0']

bets_2014.game_date =  pd.to_datetime(bets_2014.game_date)

print bets_2014.shape
bets_2014.head(1)

(2638, 7)

,first_team_score,game_date,game_line,second_team_name,second_team_score,total_line,second_team_full_name
0,90,2013-10-30,-7.5,Milwaukee,83,196.5,Milwaukee Bucks

In [17]:
bets_2013 = pd.read_csv('./Data/CSV_files/bet_data_2013')

if 'Unnamed: 0' in bets_2013.columns :
    del bets_2013['Unnamed: 0']

bets_2013.game_date =  pd.to_datetime(bets_2013.game_date)

print bets_2013.shape
bets_2013.head(1)

(2628, 7)

,first_team_score,game_date,game_line,second_team_name,second_team_score,total_line,second_team_full_name
0,86,2012-11-01,2.0,San Antonio,84,204.0,San Antonio Spurs

In [18]:
bets = pd.concat([bets_2013,bets_2014,bets_2015,bets_2016,bets_2017,bets_new_games]).reset_index()
if 'index' in bets.columns :
    del bets['index']

#bets.sort_values('game_date')

In [19]:
games.shape, bets.shape

((5989, 92), (11990, 7))

In [20]:
def bet_lines(row) :
    temp1 = bets[(bets.second_team_full_name == row['HostName']) & (bets.game_date == row['GameDate'])][['total_line']].values#[0][0]
    row['total_line'] =temp1[0][0] #list(temp1)[0][0]
    
    #print temp1[0][0]
    
    temp2 = bets[(bets.second_team_full_name == row['HostName']) & (bets.game_date == row['GameDate'])][['game_line']].values#[0][0]
    row['game_line'] = temp2[0][0]#-1*list(temp2)[0][0]
    
    #print -1*list(temp2)[0][0]
    
    return row

games = games.apply(bet_lines,axis=1)

In [23]:
print games.shape,np.max(games.GameDate)

(5989, 94) 2017-01-31 00:00:00

In [24]:
games.to_csv('./Data/CSV_files/games_bets_ready4FE')

In [ ]:
MATCH = pd.DataFrame(
        data=[[2017,'2017-02-01','19:30 pm','Golden State Warriors',0,'Charlotte Hornets',0,'GSW','201702010GSW',
        0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,
        0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,
        0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,
        0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,        
        225.5,-14]],
        columns = games.columns)

games = pd.concat([games,MATCH]).reset_index()
if 'index' in games.columns :
    del games['index']

games.GameDate =  pd.to_datetime(games.GameDate)